.nav {
    width: 400px;
    height: 44px;
    position: fixed;
    top: 0;
    .van-ellipsis {
      font-size: 18px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 50px;
      margin-left: 60px;
    }
    .van-nav-bar__left i {
      font-size: 18px;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
  }
  .tab{
    margin-top: 48px;
  }
  .goods-wrap {
    margin-top: 58px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 15px;
    
  }
  .goods {
    width: 171px;
    height: 280px;
  
    img {
      display: block;
      width: 100%;
      height: 171px;
    }
    .goods_title {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      text-align: center;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .goods_price {
      font-size: 17px;
      font-family: DINAlternate-Bold;
      font-weight: bold;
      color: rgba(237, 88, 33, 1);
      margin-top: -10px;
      padding-left: 10px;
      span {
        font-size: 11px;
        font-family: DINAlternate-Bold;
        font-weight: bold;
        color: rgba(153, 153, 153, 1);
        text-decoration: line-through;
      }
    }
    .islike {
      img {
        width: 16px;
        height: 16px;
      }
      float: right;
      padding-right: 40px;
    }
  }