.icon {
    position: absolute;
    top: 39px;
    margin-left: 20px;
    font-size: 18px;
    color: #999;
}

h1 {
    width: 80%;
    height: 22px;
    font-size: 23px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
    line-height: 17px;
    margin-top: 95px;
    margin-left: 20px;
}

p {
    height: 24px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(57, 113, 255, 1);
    margin-left: 47px;
    margin-top: 20px;
}

.found {
    width: 335px;
    height: 44px;
    margin: 0 auto;
    .found_emile {
        height: 44px;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        line-height: 18px;
        font-size: 16px;
        margin-top: 10px;
    }
    button {
        background-color: #ed5821;
        height: 44px;
        font-size: 16px;
        margin-top: 30px;
        border-radius: 5px;
        line-height: 44px;
    }
}