.nav {
    width: 400px;
    height: 44px;
    position: fixed;
    top: 0;
    .van-ellipsis {
      font-size: 18px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 50px;
      margin-left: 60px;
    }
    .van-nav-bar__left i {
      font-size: 18px;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
  }
  .main {
    margin-top: 48px;
  }
  .check {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-left: 15px;
    margin-top: 25px;
  }
  button {
    position: absolute;
    bottom: 0;
    background: rgba(236, 88, 30, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 42px;
    margin-top: 16px;
  }
  .spinner{
    margin-left: 45%;
    margin-top: 35%;
  }