.head {
    background-color: #fff;
    overflow: hidden;
    height: 150px;
    a{
      padding-top: 30px;
      height: 150px;
      display: flex;
      align-items: center;
      .head_img{
        margin-left: 20px;
      }
      .head_name {
       
        padding-left: 30px;
        font-size: 20px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 230px;
      }
      .integral{
        padding-left: 30px;
        // margin-top: -10px;
        font-size: 10px;
        font-family: PingFangSC-Medium;
        color: rgba(51, 51, 51, 1);
        // text-align: center;
        // padding-right: 48px;
        
       }
    }
    
  }
  
  
  
  
  
  // .head {
  //   span {
      
      
  //     margin-left: 10px;
      
  //   }
  // }
  
  .menu_user {
    margin-top: 12px; //height: 302px;
    margin-bottom: 70px;
    .van-van-cell {
      height: 54px;
      text-align: left;
    }
    .return {
      margin-top: 0px;
    }
  }
  
  .menu_info {
    margin-top: 12px;
    margin-bottom: 70px;
    .van-van-cell {
      text-align: left;
    }
  }
  
  .tag {
    position: absolute;
    top: 390px;
    left: 300px;
  }
  
  .setting {
    font-size: 22px;
    position: absolute;
    top: 35px;
    right: 20px;
  }
 .van-cell__title{
  .van-tag{
    margin-left:20px;
  }
 }
 